<div class="about ph-16">
  <p class="m-16 p-0">Dependency Injection in Angular 13. For more details please check <a
      href="https://bitbucket.org/abhisekdutta507/angular-dependency-injection-without-observable/src/master/"
      target="_blank">Bitbucket</a>.</p>
</div>