<header class="flex space-between items-center header ph-16">
  <div class="flex">
    <p class="m-0 p-0">DI - Angular 13</p>
  </div>
  <div class="flex justify-center">
    <a routerLink="/posts" routerLinkActive="active" class="link">Posts</a>
    <a routerLink="/albums" routerLinkActive="active" class="link">Albums</a>
    <a routerLink="/about" routerLinkActive="active" class="link">About</a>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="flex space-between items-center footer ph-16">Copyright 2022. Don't hesitate to reach out.</footer>