.header {
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.footer {
    height: 50px;
}

.link {
    color: #6495ed;
    padding: 0 10px;

    &.active {
        color: #ff0000;
    }
}