<div class="posts ph-16">
  <div class="mv-16" *ngIf="store?.data?.albums?.length === 0">
    <p class="p-0 m-0">Loading...</p>
  </div>
  <ng-container *ngFor="let post of store?.data?.posts">
    <div class="card mv-16">
      <p class="p-0 m-0">ID: {{post?.id}}</p>
      <p class="p-0 m-0">User ID: {{post?.userId}}</p>
      <p class="p-0 m-0">Title: {{post?.title}}</p>
      <p class="p-0 m-0">Body: {{post?.body}}</p>
    </div>
  </ng-container>
</div>