/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }
    &.items-center {
        align-items: center;
    }
    &.justify-center {
        justify-content: center;
    }
}

.m {
    &-0 {
        margin: 0;
    }

    &v {
        &-0 {
            margin-top: 0;
            margin-bottom: 0;
        }

        &-8 {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    
        &-16 {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
}

.p {
    &-0 {
        padding: 0;
    }

    &-16 {
        padding: 16px;
    }

    &v {
        &-0 {
            padding-top: 0;
            padding-bottom: 0;
        }
    
        &-16 {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

    &h {
        &-0 {
            padding-left: 0;
            padding-right: 0;
        }
    
        &-16 {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

a {
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 4px 16px;
    border-radius: 8px;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}
