<div class="albums ph-16">
  <div class="mv-16" *ngIf="store?.data?.albums?.length === 0">
    <p class="p-0 m-0">Loading...</p>
  </div>
  <ng-container *ngFor="let album of store?.data?.albums">
    <div class="card mv-16">
      <p class="p-0 m-0">ID: {{album?.id}}</p>
      <p class="p-0 m-0">User ID: {{album?.userId}}</p>
      <p class="p-0 m-0">Title: {{album?.title}}</p>
    </div>
  </ng-container>
</div>